<!DOCTYPE html>
<%- include('../partials/header.ejs') %>

<div class="accueil__livre__unique">
  <div class="left__content">
    <h1 class="title__pattern"><%-nom %></h1>
    <div class="livre__unique__infos">
      <h2>Informations :</h2>
      <div>Auteur :</div>
      <div>Nombre de page :</div>
    </div>

    <img
      class="img__unique__livre"
      src="https://picsum.photos/200/300"
      alt="lorem pixum aleatoire"
    />
  </div>
  <div class="right__content">
    <h2 class="title__description">titre de description</h2>
   <div class="exorde">
     <h3 class="subtitle__right">exorde</h3>
     <p class="rhetoric__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit ipsam dolorum magnam voluptatem, quos libero quis debitis temporibus aliquid optio!</p>
   </div>
   <div class="narration">
     <h3 class="subtitle__right">narration</h3>
     <p class="rhetoric__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta corporis corrupti laboriosam ad suscipit beatae, ratione quo, aliquam numquam quaerat consequuntur temporibus veniam quis. Alias ad veritatis eum vitae mollitia saepe expedita labore sit doloremque corporis, maxime doloribus totam cum voluptas debitis distinctio eveniet molestias vero reiciendis aut officia. Cum, veritatis. Libero quas obcaecati eos error atque ad ipsam. Porro quaerat numquam nobis non? Eos consectetur similique impedit esse quae dicta voluptate fugiat nam cum exercitationem accusamus quam aliquam, tenetur quo amet nulla libero explicabo reprehenderit accusantium? Reiciendis, voluptates deleniti necessitatibus quam expedita, quo sint, animi aperiam ea commodi error.</p>
   </div>
   <div class="digression">
     <h3 class="subtitle__right">digression</h3>
     <p class="rhetoric__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam asperiores voluptas at sunt, quae magnam repudiandae rerum perferendis labore omnis ex incidunt ipsa a assumenda esse nulla architecto numquam illum?
     </p>
   </div>
   <div class="peroraison">
     <h3 class="subtitle__right">peroraison</h3>
     <p class="rhetoric__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam ullam quas ad cum nemo veniam nulla repellat laboriosam voluptates laborum.</p>
   </div>
   <div></div>

  </div>
</div>

<%- include('../partials/footer.ejs') %>
