<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <nav class="navigation__partials">
      <ul class="navigation__container">
        <li class="navigation__item"><a class="navigation__link" href="/">home</a></li>
        <li class="navigation__item"><a class="navigation__link" href="/about">about</a></li>
        <li class="navigation__item"><a class="navigation__link" href="/data">data</a></li>
      </ul>
    </nav>
  </body>
</html>
